input {
    font-size: 24px;
    height: 45px;
    margin: 5px 0 5px 100px;
    width: 250px;
}

.body {
    display: flex;
}

.day {
    font-size: 30px;
    margin: 10px 0 8px 100px;
}

.header {
    display: flex;
    background-image: linear-gradient(to left, rgb(3, 44, 106), rgb(70, 164, 247));
    font-size: 3.5em;
    height: 3em;
    width: 100%;
}

.header2 {
    color: azure;
    margin: auto;
}



.historyBtns {
    align-items: center;
    background-color: rgb(76, 111, 141);
    border-radius: 4px;
    display: flex;
    font-size: 24px;
    height: 50px;
    justify-content: center;
    margin: 5px 0 5px 100px;
    width: 250px;
}

.w-x {
    width: 18%;
}

#break-line {
    font: bold;
    margin: 5px 0 5px 100px;

}

#city {
    font-size: 2em;
    padding: 10px;
}

#clear-button {
    background-color: rgb(76, 111, 141);
    border-radius: 4px;
    color: azure;
    font-size: 24px;
    height: 50px;
    margin: 5px 0 5px 100px;
    width: 250px;
}

#current {
    border: 3px solid;
    border-radius: 8px;
    float: right;
    margin: 10px 80px;
    width: 85%;
}

#currentWx {
    border: 3px solid;
    border-radius: 8px;
    float: right;
    height: fit-content;
    margin: 10px 80px;
    padding: 10px;
    width: 85%;
}

#date {
    font-size: 2em;
    padding: 10px;
}

#display {
    display: flex;
}

#history {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 25%;
}

#main {
    display: flex;

}

#search-button {
    background-color: rgb(76, 111, 141);
    border-radius: 4px;
    color: azure;
    display: block;
    font-size: 24px;
    height: 50px;
    margin: 5px 0 5px 100px;
    width: 250px;
}

#section1 {
    margin: 0 auto;
    width: 30vw;
}

#section2 {
    width: 70vw;
}